<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %> <%- include("./partials/nav.ejs") %>
  <body>
    <div class="about content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aut sed
        neque, maiores nisi, ipsam expedita culpa beatae magni numquam ratione
        libero possimus veritatis cupiditate veniam eos atque quam qui
        repellendus eaque. Hic soluta similique praesentium, voluptatum
        doloremque asperiores iusto libero recusandae! Quod eos blanditiis
        necessitatibus perferendis fugit fugiat at.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aut sed
        neque, maiores nisi, ipsam expedita culpa beatae magni numquam ratione
        libero possimus veritatis cupiditate veniam eos atque quam qui
        repellendus eaque. Hic soluta similique praesentium, voluptatum
        doloremque asperiores iusto libero recusandae! Quod eos blanditiis
        necessitatibus perferendis fugit fugiat at.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aut sed
        neque, maiores nisi, ipsam expedita culpa beatae magni numquam ratione
        libero possimus veritatis cupiditate veniam eos atque quam qui
        repellendus eaque. Hic soluta similique praesentium, voluptatum
        doloremque asperiores iusto libero recusandae! Quod eos blanditiis
        necessitatibus perferendis fugit fugiat at.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
